@tailwind base;
@tailwind components;
@tailwind utilities;


.glow-white, input:focus, button:hover {
    box-shadow: 0 0 10px #fff 
}


.scrollbar::-webkit-scrollbar{
    width : 4px;
}

.scrollbar::-webkit-scrollbar-track{
    @apply bg-zinc-700; 
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}


.card-flip-animation-container{
    perspective: 1500px;
}

.card:hover {
    transform: rotateY(180deg); 
}

.frontofcard {
    backface-visibility: hidden; 
}

.card {
    transform-style: preserve-3d; 
    transition: all 0.5s ease-in; 
}

.backofcard {
    transform: rotateY(180deg); 
}


.grid-flexible-cols {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(2, 1fr) 100px;
}